<div class="side-bar-header">
  <div class="header-name">
    <a href="#" >Tony</a>
  </div>
  <div class="create-room">
    <a href="#" >チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">Avengers</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Avengers age of ultron</a>
    </div>
  </div>
</div>